<!doctype html>

<html>

<head>
    <title>New Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/Chart.min.js"></script>
    <script type="text/javascript" src="app.js"></script></head>

<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Panel de Chat
        </div>
        <div id="chat" class="panel-body">
        </div>
        <div class="panel-footer">
            <input id="myText" type="text" class="form-control"><a id="sendBtn" class="btn btn-primary" ng-switch-default="" >Send</a>
        </div>
    </div>
</div>
</body>

</html>